body {
    font-family: 'Cabin', sans-serif;
}

.policy-section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.policy-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.policy-section h3 {
    margin-top: 20px;
    font-size: 24px;
}

.policy-section p, .policy-section ul {
    margin-bottom: 15px;
    line-height: 1.6;
}

.policy-section ul {
    list-style-type: disc;
    padding-left: 40px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 350px;
    margin-bottom: 15px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column.contact-info {
    align-items: flex-start; 
}

.footer-column a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s, transform 0.3s;
}

.footer-column a:hover {
    color: #ffd700;
    transform: scale(1.1);
}

.contact-info p {
    margin: 5px 0; 
}

.contact-info a {
    color: white;
    text-decoration: none;
}

hr {
    border: 0.5px solid #444;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.footer-bottom-links {
    margin-left: 910px;
}

.footer-bottom-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.footer-bottom-links a:hover {
    color: #ffd700;
    transform: scale(1.1);
}

.social-media {
    margin: 20px 0;
}

.social-media i {
    margin: 0 10px;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
}

.social-media i:hover {
    color: #ffd700;
    transform: rotate(360deg);
}

.footer-copyright {
    margin-top: 20px;
}
